.editoro {
  background-color: white;
  position: relative;
}

.editoro-block {
  position: relative;
  transition: all 0.3s ease-out;
  padding: 8px 36px 8px 12px;
  border-radius: 8px;
}

.editoro-block:hover:after {
  opacity: 1;
}

.editoro-block:focus {
  outline: none;
  background-color: azure;
}

/* .editoro-blocks-container {

} */

.editoro-toolbar {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 40px;
  background-color: gainsboro;
  bottom: 0;
  right: 0;
  left: 0;
}

.editoro-toolbar.show {
  display: block;
}

.editoro-toolbar.hide {
  display: none;
}

.editoro-toolbar-sub {
  display: block;
}
.editoro-toolbar-item-icon {
  width: 16px;
  height: 16px;
}

.editoro-ul {
  padding-left: 30px;
}
.editoro-image {
  max-width: 100%;
}

.editoro-image div {
  height: 200px;
}

.editoro-block:hover .editoro-block-move {
  display: block;
}

.editoro-block-move {
  display: none;
  position: absolute;
  width: 32px;
  right: 0;
  top: 0;
  bottom: 0;
}

.editoro-block-move:after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px;
  background-image: url(./drag.svg);
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
  cursor: move;
}
